.grid-container[data-status="menu"] {
	display: grid;
    
	grid-template-columns: 1fr;
	grid-template-rows: minmax(8rem, auto) 1fr;
}
.grid-container[data-status="menu"] #content {
	z-index: 1;
	grid-column: 1 / 1;
	grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
}
.menu-header {
	position: relative;

	flex-basis: 30rem;
	color: white;
	z-index: 1;
	background-image: url(../images/our-menu.jpg);
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
	& h1 {
		z-index: 1;
	}
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		backdrop-filter: var(--default-backdrop);
	}
}
.menu-container {
	display: grid;
	grid-template-columns: min(100%, 33rem) min(100%, 33rem);
	grid-template-rows: auto auto;

	justify-content: center;
	margin-top: 8rem;
	padding: clamp(1.5rem, 3vw, 3rem);
	column-gap: 8rem;
}
.menu-drinks,
.menu-foods {
	position: relative;
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	&::before {
		content: "";
		position: absolute;
		width: 1px;
		height: 100%;

		left: 37rem;

		background-color: #c8c4c5;
	}
	&::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 100%;
		left: -4rem;

		background-color: #c8c4c5;
	}
}
.menu-drinks-header,
.menu-foods-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.7rem;
	& h6 {
		font-size: 0.8em;
		color: rgb(197, 151, 100);
	}
}
.drink,
.food {
	display: flex;
	justify-content: flex-start;

	max-height: 6rem;

	gap: 1rem;
	font-size: 1.8rem;
}
.drink-text-container,
.food-text-container {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;

	& .drink-name,
	.food-name {
		font-family: serif;
		font-size: 0.8em;
	}
	& .drink-info,
	.food-info {
		color: #363636;
		opacity: 0.6;
		font-size: 0.6em;
	}
}
.drink-img,
.food-img {
	height: 100%;
}
.drink-img img,
.food-img img {
	max-height: 100%;
	max-width: 100%;
}
.drink-price,
.food-price {
	margin-top: 0.7rem;
	margin-left: auto;
	font-family: Norse;
	font-weight: bold;
	align-self: flex-start;
	font-size: 0.8em;
}
.menu-foods {
	grid-column: 2/ 3;
	grid-row: 1/2;
}
.menu-full {
	margin-top: 8rem;
	grid-column: 1/3;
	grid-row: 2/3;
	display: flex;
	flex-direction: column;
}
.full-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}
.full-item {
	flex-basis: 33%;
	flex-grow: 1;
	max-width: 20rem;
}
