.grid-container[data-status="menu"] {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: minmax(8rem, auto) 1fr;
}
.grid-container[data-status="menu"] #content {
	z-index: 1;
	grid-column: 1 / 1;
	grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	container-name: drinks-foods;
	container-type: inline-size;
}
.grid-container[data-status="menu"] .menu-header {
	position: relative;

	flex-basis: 30rem;
	color: white;
	z-index: 1;
	/* background-image: url(../images/our-menu.jpg); */
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-self: stretch;
	& h1 {
		z-index: 1;
		height: calc(100% - 4rem);

		text-align: center;
		align-items: center;
		display: flex;
	}
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		backdrop-filter: var(--default-backdrop);
		animation: fadeIn 0.8s;
	}
}
.menu-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	grid-template-rows: auto;
	column-gap: 8rem;
	margin-top: 8rem;
	padding: 0 4rem;
	width: min(100%, 80rem);

	& .menu-drinks {
		/* justify-self: flex-start; */
	}
	& .menu-foods {
		/* justify-self: flex-end; */
	}
}

.menu-drinks,
.menu-foods {
	position: relative;
	/* max-width: 30rem; */
	display: flex;
	flex-direction: column;
	min-width: 30rem;
	row-gap: 2rem;
	&::before {
		content: "";
		position: absolute;
		/* width: 1px; */
		height: 100%;

		left: 37rem;

		background-color: #c8c4c5;
	}
	&::after {
		content: "";
		position: absolute;
		/* width: 1px; */
		height: 100%;
		left: -4rem;

		background-color: #c8c4c5;
	}
}

.menu-drinks-header,
.menu-foods-header,
.full-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.7rem;
	text-align: center;
	& h6 {
		position: relative;
		font-size: 0.8em;
		color: rgb(197, 151, 100);
		&::before {
			content: "";
			position: absolute;

			background-color: #f0b551;

			width: 100%;
			height: 100%;
			transform: scale(1.5, 0.1) translateX(calc(50% + 24px));
			
		}
		&::after {
			content: "";
			position: absolute;

			background-color: #f0b551;
			right: 0;
			width: 100%;
			height: 100%;
			transform: scale(1.5, 0.1) translateX(calc(-50% + -24px));
		}
	}
	
}
.drink,
.food {
	display: flex;

	max-height: 6rem;

	gap: clamp(0.5rem, 1vw, 2rem);
	font-size: 1.8rem;
}
.drink-text-container,
.food-text-container {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	min-width: 0;
	flex-basis: 60%;
	flex-grow: 0;
	flex-shrink: 0;
	& .drink-name,
	.food-name {
		font-family: serif;
		font-size: 0.8em;
		text-wrap: nowrap;
		overflow-y: auto;
		flex-shrink: 0;
	}
	& .drink-info,
	.food-info {
		white-space: wrap;
		overflow: auto;
		color: #363636;
		opacity: 0.6;
		font-size: 0.55em;
		max-height: 1.485rem;
	}
}
.drink-img,
.food-img {
	height: 100%;
	display: flex;
	align-items: center;
	min-width: 3rem;

	flex-basis: max-content;
	flex-shrink: 1;
}
.drink-img img,
.food-img img {
	max-height: 100%;
	max-width: 100%;
}
.drink-price,
.food-price {
	margin-top: 0.7rem;
	margin-left: auto;
	font-family: Norse;
	font-weight: bold;
	align-self: flex-start;
	font-size: 0.8em;
}
.full-header {
	color: rgb(197, 151, 100);
	& h1 {
		font-size: 4rem;
	}
}
.menu-full {
	margin-top: 8rem;
	width: min(100%, 80rem);
	padding: 0 4rem;
	display: flex;
	row-gap: 2rem;
	flex-direction: column;
	margin-bottom: 8rem;
}
.full-container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.5rem;

	justify-content: space-between;
	row-gap: 3rem;
	& :nth-child(5) {
		filter: brightness(80%);
	}
}
.full-item {
	flex-basis: 30%;
	row-gap: 1rem;

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	min-width: 20rem;
}
.full-text-container {
	display: flex;
	justify-content: space-between;
	column-gap: 1rem;
	align-items: center;
	& .full-name {
		flex-grow: 1;
		flex-shrink: 1;
		font-family: serif;
		font-size: 0.8em;
		white-space: nowrap;

		overflow-y: auto;
	}
	& .full-price {
		flex-basis: min-content;
		flex-shrink: 0;
		font-size: 0.8em;
		font-family: Norse;
		font-weight: bold;
	}
}
.full-info {
	color: #363636;
	opacity: 0.6;
	font-size: 0.6em;
	height: 4.86rem;
	overflow: auto;
}
.full-img {
	width: 100%;
}
.full-img img {
	width: 100%;
	aspect-ratio: 1.5;
	object-fit: cover;
}
@container drinks-foods (max-width: 72rem) {
	.drink,
	.food {
		font-size: 1.8rem;
		& .drink-info{
			font-size: 0.50em;
			overflow: hidden;
		}
	}
	
	.full-item {
		font-size: 1.6rem;
	}
	.menu-foods {
		margin-top: 8rem;
	}
	
	.menu-full{
		width: min(100%, 80rem);
	}
	.menu-container .menu-foods {
		margin-top: 8rem;
	}
	
	.menu-container {
		
		width: min(100%, 80rem);
	}
}
@container drinks-foods (max-width: 38rem) {
	.drink,
	.food {
		font-size: 1.6rem;
		& .drink-info{
			max-height: 2.64rem;
		}
	}
	.menu-container {
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
		padding: 0 1rem;
	}
	.drink-img, .food-img{
		min-width: 2rem;
	}
	.menu-container .menu-drinks,.menu-container .menu-foods{
		min-width: 16rem;
	}
	.full-item{
		min-width: 16rem;
		font-size: 1.3rem;
	}
	.menu-full{
		padding: 0 1rem;
	}
	.full-info{
		height: 2.34rem;
	}
}
@container drinks-foods (max-width: 24rem) {.drink,
	.food {
		font-size: 1.4rem;
		& .drink-info{
			max-height: 2.31rem;
		}
	}}
